<mat-card>
  <mat-form-field>
    <input matInput placeholder="Enter location" [(ngModel)]="location">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="fetchWeatherData()">Get Weather</button>
</mat-card>

<mat-card *ngIf="errorMessage">
  <h2 class="error">Error!!!</h2>
  <p>{{ errorMessage }}</p>
</mat-card>
<app-default-weather />

<mat-card *ngIf="currentWeather && !errorMessage && location">
  <h2>Weather for {{ displayedLocation }}</h2>
  <img *ngIf="currentWeather?.weather?.[0]?.main === 'Clear'" src="../../../assets/sunny.png" alt="Sunny" class="weather-image">
  <img *ngIf="currentWeather?.weather?.[0]?.main === 'Clouds'" src="../../../assets/cloudy.png" alt="Cloudy" class="weather-image">
  <img *ngIf="currentWeather?.weather?.[0]?.main === 'Rain'" src="../../../assets/rainny.png" alt="Rainy" class="weather-image">
  <img *ngIf="currentWeather?.weather?.[0]?.main === 'Storm'" src="../../../assets/stormy.png" alt="Stormy" class="weather-image">
  <img *ngIf="currentWeather?.weather?.[0]?.main === 'Fog'" src="../../../assets/foggy.png" alt="Foggy" class="weather-image">
  <img *ngIf="currentWeather?.weather?.[0]?.main === 'Thunderstorm'" src="../../../assets/thunderstorm.png" alt="Thunderstorm" class="weather-image">
  <p>Temperature: {{ currentWeather?.main?.temp | number:'1.0-0' }} {{ unit }}</p>
  <p>Weather Condition: {{ currentWeather?.weather?.[0]?.description }}</p>
  <p>Humidity: {{ currentWeather?.main?.humidity }}%</p>
  <p>Wind Speed: {{ currentWeather?.wind?.speed }} m/s</p>
</mat-card>

<mat-card *ngIf="forecastWeather.length > 0 && location">
  <h3>Weather Forecast</h3>
  <div class="forecast-container">
    <div class="forecast-item" *ngFor="let forecast of forecastWeather">
      <h4>{{ forecast.dt_txt | date: 'mediumDate' }}</h4>
      <img *ngIf="forecast.weather[0].main === 'Clear'" src="../../../assets/sunny.png" alt="Sunny" class="weather-image">
      <img *ngIf="forecast.weather[0].main === 'Clouds'" src="../../../assets/cloudy.png" alt="Cloudy" class="weather-image">
      <img *ngIf="forecast.weather[0].main === 'Rain'" src="../../../assets/rainny.png" alt="Rainy" class="weather-image">
      <img *ngIf="forecast.weather[0].main === 'Storm'" src="../../../assets/stormy.png" alt="Stormy" class="weather-image">
      <img *ngIf="forecast.weather[0].main === 'Fog'" src="../../../assets/foggy.png" alt="Foggy" class="weather-image">
      <img *ngIf="forecast.weather[0].main === 'Thunderstorm'" src="../../../assets/thunderstorm.png" alt="Thunderstorm" class="weather-image">
      <p>Temperature: {{ forecast.main.temp | number:'1.0-0' }} {{ unit }}</p>
      <p>Weather Condition: {{ forecast.weather[0].description }}</p>
      <p>Humidity: {{ forecast.main.humidity }}%</p>
      <p>Wind Speed: {{ forecast.wind.speed }} m/s</p>
    </div>
  </div>
</mat-card>
